SOURCE_PATH = ""
OUTPUT_SAVE_PATH = ""
NUM_OF_CORES = 7
PATH_TO_SOURCE_TABLES = "source_tables"
STATIC_TABLE = "HiRID_static_table.parquet"
STATE_VECTOR_COHORT = ""
STATE_VECTOR_RAW_NAME = ""
STATE_VECTOR_NOT_IMPUTED_NAME = ""
STATE_VECTOR_IMPUTED_NAME = ""
STATE_VECTOR_TIME_WINDOWS_NAME = ""

# minimal duration for selecting ventilation episodes as inclusion criterion (240 min: 4 hours)
MIN_DURATION = 240
# time resolution in minutes for time windowing step 
RESOLUTION = 60
