# Combined Dataset discretized actions setup with CQL algorithm
ALGORITHM_CONFIGS_PATH='configs/combined_mimic_eicu_hirid/factored_cql_config.yml'
DATASET_CONFIG_PATH='configs/combined_mimic_eicu_hirid/dataset_config.yml'
DIST_FQE_CONFIG_PATH='configs/combined_mimic_eicu_hirid/dist_fqe_config.yml'
DEVICE=cuda



# Combined Dataset continuous actions setup with IQL algorithm
ALGORITHM_CONFIGS_PATH='configs/combined_mimic_eicu_hirid_cont/iql_configs.yml'
DATASET_CONFIG_PATH='configs/combined_mimic_eicu_hirid_cont/dataset_config.yml'
DIST_FQE_CONFIG_PATH='configs/combined_mimic_eicu_hirid_cont/dist_fqe_config.yml'
DEVICE=cuda

# Combined Dataset continuous actions setup with EDAC algorithm
ALGORITHM_CONFIGS_PATH='configs/combined_mimic_eicu_hirid_cont/edac_configs.yml'
DATASET_CONFIG_PATH='configs/combined_mimic_eicu_hirid_cont/dataset_config.yml'
DIST_FQE_CONFIG_PATH='configs/mimiciv_cont_action_setup/dist_fqe_config.yml'
DEVICE=cuda

# Combined Dataset continuous actions setup with Behavior Cloning algorithm
ALGORITHM_CONFIGS_PATH='configs/combined_mimic_eicu_hirid_cont/behavior_cloning_config.yml'
DATASET_CONFIG_PATH='configs/combined_mimic_eicu_hirid_cont/dataset_config.yml'
DIST_FQE_CONFIG_PATH='configs/combined_mimic_eicu_hirid_cont/dist_fqe_config.yml'
DEVICE=cuda
