INPUT_DATA_PATH = "PATH_TO_DATA_AND_WHERE_EXTRACTED_DATA_WILL_BE_STORED"
OUTPUT_SAVE_PATH = "PATH_WHERE_TO_SAVE_OUTPUT"
NUM_OF_CORES = 5
MIMIC_DBNAME = "mimic"
POSTGRES_USER = "postgres"
POSTGRES_PASS = "postgres"
STATE_VECTORS_OUTPUT_NAME = "mimiciv_state_vectors.csv"
RESOLUTION = 3600
SETUP = true